<input
  class="rounded border border-white outline-none w-full bg-black p-2 my-7"
  (input)="onInputChange($event)"
  type="text"
  defaultValue="Search books by title..."
/>

<table class="text-xs w-full border-separate border-spacing-2">
  <thead>
    <tr>
      <th>Book id</th>
      <th>Writer id</th>
      <th>Title</th>
      <th>Publication year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td class="text-center align-middle">{{ book.id }}</td>
      <td class="text-center align-middle">{{ book.writer }}</td>
      <td class="text-center align-middle">{{ book.title }}</td>
      <td class="text-center align-middle">{{ book.publicationYear }}</td>
    </tr>
  </tbody>
</table>
